<div class="jumbotron vertical-center">
    <div class="container text-center">
        <div class="card-deck col-md-12 align-self-center my-auto">
            <div class="card">
                <img class="card-img-top" src="assets/admin.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Administrateur</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href="/admin/dashboard">Connect</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/doctor.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Doctor</h5>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a href="/doctor">click</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" src="assets/sec.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Sécretaire</h5>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                    <a [routerLink]="['/secretary']">click</a>
                    <a routerLink="/secretary">link to user component</a>
                </div>
            </div>
        </div>
    </div>
</div>